# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.build/
dist/
build/

# Environments
.venv/
venv/
env/

# OS / Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Gradio & outputs
.gradio/
outputs/
generated/
